table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.bk-c {
    background-color: #0dcaf0;
}

.bk-ca {
    background-color: rosybrown;
}

.hiu{
    border-radius: 20px;
}

.height-set{
    min-height: 500px;
}

body {
    background-color: sandybrown;
}
.options {
    max-height: 100px;
}

.size {
    height: 700px;
    width: 250px;
}

.psize{
    height: 700px;
    width: 75%;
    margin-left: 200px;
}

.pword {
    margin-bottom: 400px;
}

.word-design{
    color: black;
}

